/*
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    
}
*/
/*
.flexbox-container{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;

}
*/
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
/*     
    flex-grow: 1; */
}
.flexbox-item-1{

flex: 1;
    min-height: 100px;
 
 flex-shrink: 0;
 order: 3; 

}
.flexbox-item-2{
flex: 3;

    min-height: 200px;

}

.flexbox-item-3{
    flex: 1; 
    min-height:300px;
    
    /* flex-grow: 1; */
}
